.for {
	width: 21px;
}
.isUser {
    text-transform: capitalize;
}
.for_content {
	display: none;
	position: absolute;
	width: 320px;
	height: calc(100% - 112px);
	right: 0px;
	top: 56px;
	overflow-y: scroll;
	background: #222;
    z-index: 9;
}
.for_content_ver {
	display: block;
    padding: 0 1rem;
    font-weight: 700;
	text-transform: uppercase;
	color: white;
    font-size: 16px;
    margin-top: 1rem;
}
.for_content_version {
    padding: 0 1rem;
    color: #878c8e;
    font-size: .85rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1rem;
    cursor: pointer;
}
.for_content_ul {
	padding: 1rem 1rem;
}
.for_content_li {
	cursor: pointer;
}
.for_content_c {
	border-bottom: 1px solid white;
}
.for_content_off {
	display: inline-block;
	color: #878c8e;
    font-size: .85rem;
    font-weight: bold;
	margin: 0 1rem 0 0;
}
.for_content_p {
	display: inline-block;
	color: #878c8e;
    font-size: .85rem;
    font-weight: bold;
    text-transform: uppercase;
	position: relative;
	bottom: 1px;
}
.for {
	font-size: 1.2rem;
    line-height: 1.2;
    cursor: pointer;
    position: relative;
	display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
}
.onErr {
    display: block;
    width: 100vw;
    height: 100vw;
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 2147483647;
    font-weight: 400;
	top: 0;
}
.onErr .container {
    display: block;
    margin-top: 108px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0 0 5px #000;
    background: #111;
    color: #fff;
    width: 640px;
}
.onErr .container .title {
    height: 54px;
    background: #333;
}
.onErr .container .title h1 {
    margin: 0;
    text-align: center;
    padding-top: 12px;
    font-weight: 400;
}
.onErr .container .content {
    width: 75%;
    margin: 0 auto;
    padding: 27px;
}
.onErr .container .content p {
    margin: 0;
    padding-bottom: 16px;
    font-size: 14px;
}
.onErr .container .content .input {
    width: 100% !important;
    height: 108px !important;
    background: #333;
    padding: 16px;
    color: white;
    border-radius: 5px;
    border: transparent;
	font-size: 14px;
}
.onErr .container .control {
    display: inline-block;
    width: 100%;
    font-size: 0;
}
.onErr .container .control .cancel {
    display: inline-block;
    width: 50%;
    text-align: center;
    background: #333;
    font-size: 16px;
    cursor: pointer;
}
.onErr .container .control .confirm {
    display: inline-block;
    width: 50%;
    text-align: center;
    background: magenta;
    font-size: 16px;
    cursor: pointer;
}
.onErr .container .control .confirm, .onErr .container .control .cancel {
	padding: 1em 0 0 0;
}
.duration {
    font-size: 14px !important;
    margin-top: .5em !important;
}

.chat-main.splitChat li:nth-child(2n),
.split {
    background: linear-gradient(to right, rgba(155,157,160,0.10) 0%, rgba(0,0,0,0) 100%);
    box-shadow: -16px 0px 0px 0px rgba(155,157,160,0.10);
    width: 100%;
}
.chat-main.splitChat li:nth-child(2n) .chatDelete,
.splitfix {
    right: 1.7em !important;
}

/* Custom CSS for ranks & special users */
#chat .chat-container ul.chat-main li.user-551d295433cd73030089d184 .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-53f7c199892b010200a98809 .activity-row .text p a.username:hover:before {
	content: "Admin";
    font-weight: 700;
    font-family: proxima-nova,sans-serif;
    font-size: 10px;
}
#chat .chat-container ul.chat-main li.user-551d295433cd73030089d184 .activity-row .text p a.username:hover:after,
#chat .chat-container ul.chat-main li.user-53f7c199892b010200a98809 .activity-row .text p a.username:hover:after {
	content: "DubX";
    font-weight: 700;
    font-family: proxima-nova,sans-serif;
    font-size: 10px;
}
#chat .chat-container ul.chat-main li.user-55ff52375335f703008b0d38 .activity-row .text p a.username:hover:after,
#chat .chat-container ul.chat-main li.user-5607c12b8c2ecf0300b4233b .activity-row .text p a.username:hover:after,
#chat .chat-container ul.chat-main li.user-56008425621a9e0300317238 .activity-row .text p a.username:hover:after {
    content: "DubX";
    font-weight: 700;
    font-family: proxima-nova,sans-serif;
    font-size: 10px;
}

/* Owners */
#chat .chat-container ul.chat-main li.user-551d295433cd73030089d184 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-53f7c199892b010200a98809 .activity-row .text p a.username {
    color: #89BE6C !important;
    font-weight: 600;
    text-shadow: 0px 0px 1px #000;
}
#chat .chat-container ul.chat-main li.user-551d295433cd73030089d184 .activity-row .text p a.username:after,
#chat .chat-container ul.chat-main li.user-53f7c199892b010200a98809 .activity-row .text p a.username:after {
    content: "\f137  \f1af";
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}
ul.avatar-list li.user-sinful p.dubs:before,
ul.avatar-list li.user-swordling p.dubs:before {
    content: "DubX Team  -  ";
    font-weight: 700 !important;
    color: #89BE6C !important;
}
ul.avatar-list li.user-sinful p.dubs:hover:before,
ul.avatar-list li.user-swordling p.dubs:hover:before {
    content: "DubX Owner  -  ";
    font-weight: 700 !important;
    color: #89BE6C !important;
}
ul.avatar-list li.admin.user-sinful:after, ul.avatar-list li.admin.user-swordling:after,
ul.avatar-list li.co-owner.user-sinful:after, ul.avatar-list li.co-owner.user-swordling:after,
ul.avatar-list li.creator.user-sinful:after, ul.avatar-list li.creator.user-swordling:after,
ul.avatar-list li.manager.user-sinful:after, ul.avatar-list li.manager.user-swordling:after,
ul.avatar-list li.mod.user-sinful:after, ul.avatar-list li.mod.user-swordling:after,
ul.avatar-list li.vip.user-sinful:after, ul.avatar-list li.vip.user-swordling:after,
ul.avatar-list li.resident-dj.user-sinful:after, ul.avatar-list li.resident-dj.user-swordling:after,
ul.avatar-list li.currentDJ .user-sinful:after, ul.avatar-list li.currentDJ .user-swordling:after,
.user-swordling, .user-sinful, .user-swordling p.username, .user-sinful p.username {
    color: #89BE6C !important;
}
#main_avatar_room #main-user-list-room #avatar-list li.admin.user-sinful p.username, #main_avatar_room #main-user-list-room #avatar-list li.admin.user-sinful p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-sinful p.username, #main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-sinful p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator.user-sinful p.username, #main_avatar_room #main-user-list-room #avatar-list li.creator.user-sinful p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager.user-sinful p.username, #main_avatar_room #main-user-list-room #avatar-list li.manager.user-sinful p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod.user-sinful p.username, #main_avatar_room #main-user-list-room #avatar-list li.mod.user-sinful p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-sinful p.username, #main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-sinful p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip.user-sinful p.username, #main_avatar_room #main-user-list-room #avatar-list li.vip.user-sinful p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.admin.user-swordling p.username, #main_avatar_room #main-user-list-room #avatar-list li.admin.user-swordling p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-swordling p.username, #main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-swordling p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator.user-swordling p.username, #main_avatar_room #main-user-list-room #avatar-list li.creator.user-swordling p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager.user-swordling p.username, #main_avatar_room #main-user-list-room #avatar-list li.manager.user-swordling p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod.user-swordling p.username, #main_avatar_room #main-user-list-room #avatar-list li.mod.user-swordling p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-swordling p.username, #main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-swordling p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip.user-swordling p.username, #main_avatar_room #main-user-list-room #avatar-list li.vip.user-swordling p.username:after {
	color: #89BE6C !important;
}

/* Contributors */
#chat .chat-container ul.chat-main li.user-55ff52375335f703008b0d38 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-56030f67813abe030055f4a4 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-56008425621a9e0300317238 .activity-row .text p a.username {
    color: #519CD7;
    font-weight: 700;
    text-shadow: 0px 0px 1px #000;
}
#chat .chat-container ul.chat-main li.user-55ff52375335f703008b0d38 .activity-row .text p a.username:after,
#chat .chat-container ul.chat-main li.user-56030f67813abe030055f4a4 .activity-row .text p a.username:after,
#chat .chat-container ul.chat-main li.user-56008425621a9e0300317238 .activity-row .text p a.username:after {
    content: "\f1ee";
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}
ul.avatar-list li.user-kris p.dubs:before,
ul.avatar-list li.user-al3366 p.dubs:before,
ul.avatar-list li.user-ciscog p.dubs:before {
    content: "DubX Team  -  ";
    font-weight: 700 !important;
    color: #519CD7;
}
ul.avatar-list li.co-owner.user-kris:after, ul.avatar-list li.co-owner.user-al3366  :after, ul.avatar-list li.co-owner.user-ciscog:after,
ul.avatar-list li.creator.user-kris:after, ul.avatar-list li.creator.user-al3366  :after, ul.avatar-list li.creator.user-ciscog:after,
ul.avatar-list li.manager.user-kris:after, ul.avatar-list li.manager.user-al3366  :after, ul.avatar-list li.manager.user-ciscog:after,
ul.avatar-list li.mod.user-kris:after, ul.avatar-list li.mod.user-al3366  :after, ul.avatar-list li.mod.user-ciscog:after,
ul.avatar-list li.vip.user-kris:after, ul.avatar-list li.vip.user-al3366  :after, ul.avatar-list li.vip.user-ciscog:after,
ul.avatar-list li.resident-dj.user-kris:after, ul.avatar-list li.resident-dj.user-al3366  :after, ul.avatar-list li.resident-dj.user-ciscog:after,
ul.avatar-list li.currentDJ .user-kris:after, ul.avatar-list li.currentDJ .user-al3366  :after, ul.avatar-list li.currentDJ .user-ciscog:after,
.user-kris, .user-al3366, .user-ciscog,
.user-kris p.username, .user-al3366 p.username, .user-ciscog p.username {
    color: #519CD7;
}
#main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.creator.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.manager.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.mod.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.vip.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-al3366 p.username, #main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-al3366 p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator.user-al3366 p.username, #main_avatar_room #main-user-list-room #avatar-list li.creator.user-al3366 p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager.user-al3366 p.username, #main_avatar_room #main-user-list-room #avatar-list li.manager.user-al3366 p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod.user-al3366 p.username, #main_avatar_room #main-user-list-room #avatar-list li.mod.user-al3366 p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-al3366 p.username, #main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-al3366 p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip.user-al3366 p.username, #main_avatar_room #main-user-list-room #avatar-list li.vip.user-al3366 p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-ciscog p.username, #main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-ciscog p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator.user-ciscog p.username, #main_avatar_room #main-user-list-room #avatar-list li.creator.user-ciscog p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager.user-ciscog p.username, #main_avatar_room #main-user-list-room #avatar-list li.manager.user-ciscog p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod.user-ciscog p.username, #main_avatar_room #main-user-list-room #avatar-list li.mod.user-ciscog p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-ciscog p.username, #main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-ciscog p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip.user-ciscog p.username, #main_avatar_room #main-user-list-room #avatar-list li.vip.user-ciscog p.username:after {
	color: #519CD7;
}

/* Special users */
#chat .chat-container ul.chat-main li.user-5607c12b8c2ecf0300b4233b .activity-row .text p a.username {
    color: #FFD904 !important;
    font-weight: 600;
    text-shadow: 0px 0px 1px #000;
}
#chat .chat-container ul.chat-main li.user-5607c12b8c2ecf0300b4233b .activity-row .text p a.username:after {
    content: "\f17b";
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}
ul.avatar-list li.user-fi p.dubs:before {
    content: "DubX VIP  -  ";
    font-weight: 700 !important;
    color: #FFD904 !important;
}
ul.avatar-list li.co-owner.user-fi:after,
ul.avatar-list li.creator.user-fi:after,
ul.avatar-list li.manager.user-fi:after,
ul.avatar-list li.mod.user-fi:after,
ul.avatar-list li.vip.user-fi:after,
ul.avatar-list li.resident-dj.user-fi:after,
ul.avatar-list li.currentDJ .user-fi:after,
.user-fi, .user-fi p.username {
    color: #FFD904 !important;
}
#main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-fi p.username, #main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-fi p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator.user-fi p.username, #main_avatar_room #main-user-list-room #avatar-list li.creator.user-fi p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager.user-fi p.username, #main_avatar_room #main-user-list-room #avatar-list li.manager.user-fi p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod.user-fi p.username, #main_avatar_room #main-user-list-room #avatar-list li.mod.user-fi p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-fi p.username, #main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-fi p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip.user-fi p.username, #main_avatar_room #main-user-list-room #avatar-list li.vip.user-fi p.username:after {
	color: #FFD904 !important;
}

/* Admins */
#chat .chat-container ul.chat-main li.user-52c821781e2b1fd945000001 .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-52c8ef6037e22b0200000005 .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-52d24bff4cf9670200000515 .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-52c8efcf37e22b0200000008 .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-52c8254ca7b7260200000001 .activity-row .text p a.username:hover:before {
    content: "Admin";
    font-weight: 700;
    font-family: proxima-nova,sans-serif;
    font-size: 10px;
}
#chat .chat-container ul.chat-main li.user-52c821781e2b1fd945000001 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-52c8ef6037e22b0200000005 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-52d24bff4cf9670200000515 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-52c8efcf37e22b0200000008 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-52c8254ca7b7260200000001 .activity-row .text p a.username {
    color: #FF7E00;
    font-weight: 600;
    text-shadow: 0px 0px 1px #000;
}
#chat .chat-container ul.chat-main li.user-52c821781e2b1fd945000001 .activity-row .text p a.username:before,
#chat .chat-container ul.chat-main li.user-52c8ef6037e22b0200000005 .activity-row .text p a.username:before,
#chat .chat-container ul.chat-main li.user-52d24bff4cf9670200000515 .activity-row .text p a.username:before,
#chat .chat-container ul.chat-main li.user-52c8efcf37e22b0200000008 .activity-row .text p a.username:before,
#chat .chat-container ul.chat-main li.user-52c8254ca7b7260200000001 .activity-row .text p a.username:before {
    content: "\f137";
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}
ul.avatar-list li.admin:after {
    color: #FF7E00;
}
ul.avatar-list li.admin p {
	color: #FF7E00;
}



/* Fix for no separation? */
/** Admin **/
#main_avatar_room #main-user-list-room #avatar-list li.admin p.username:after {
	content: "-  Admin" !important;
}

/** Moderators **/
#main_avatar_room #main-user-list-room #avatar-list li.co-owner p.username:after {
	content: "-  Co-owner";
}
#main_avatar_room #main-user-list-room #avatar-list li.creator p.username:after {
	content: "-  Creator" !important;
}
#main_avatar_room #main-user-list-room #avatar-list li.manager p.username:after {
	content: "-  Manager";
}
#main_avatar_room #main-user-list-room #avatar-list li.mod p.username:after {
	content: "-  Mod";
}
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj p.username:after {
	content: "-  Resident DJ";
}
#main_avatar_room #main-user-list-room #avatar-list li.vip p.username:after {
	content: "-  VIP";
}

/** Current DJ **/
#main_avatar_room #main-user-list-room #avatar-list li.currentDJ p.username:after {
	content: "-  DJ" !important;
}