.for {
    width: 21px;
}
.isUser {
    text-transform: capitalize;
}
.for_content {
    display: none;
    position: absolute;
    width: 325px;
    height: calc(100% - 114px);
    right: 0px;
    top: 58px;
    overflow-y: hidden;
    background: #222;
    background: -moz-linear-gradient(top,  rgba(26,26,26,1) 0%, rgba(68,68,68,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(26,26,26,1) 0%,rgba(68,68,68,1) 100%);
    background: linear-gradient(to bottom,  rgba(26,26,26,1) 0%,rgba(68,68,68,1) 100%);
    z-index: 99;
    -webkit-box-shadow: inset 0px -5px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -5px 5px -3px rgba(0,0,0,0.75);
    box-shadow: inset 0px -5px 5px -3px rgba(0,0,0,0.75);
}
.for_content_ver {
    display: block;
    padding: 0 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    margin-top: 1rem;
}
.for_content_version {
    padding: 0 1rem;
    color: #878c8e;
    font-size: .85rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1rem;
    cursor: pointer;
}
.for_content_ul {
    padding: 1rem 1rem;
}
.for_content_li {
    cursor: pointer;
}
.for_content_c {
    border-bottom: 1px solid white;
}
.for_content_c i {
    float: right;
    margin-right: 5px;
}
.for_content_off {
    display: inline-block;
    color: #878c8e;
    font-size: .85rem;
    font-weight: bold;
    margin: 0 1rem 0 0;
}
.for_content_p {
    display: inline-block;
    color: #878c8e;
    font-size: .85rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    bottom: 1px;
}
.for_content_edit .fi-pencil {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
}
.for {
    font-size: 1.2rem;
    line-height: 1.2;
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
}
.onErr {
    display: block;
    width: 100vw;
    height: 100vw;
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 2147483647;
    font-weight: 400;
    top: 0;
}
.onErr .container {
    display: block;
    margin-top: 108px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0 0 5px #000;
    background: #111;
    color: #fff;
    width: 640px;
}
.onErr .container .title {
    height: 54px;
    background: #333;
}
.onErr .container .title h1 {
    margin: 0;
    text-align: center;
    padding-top: 12px;
    font-weight: 400;
}
.onErr .container .content {
    width: 75%;
    margin: 0 auto;
    padding: 27px;
}
.onErr .container .content p {
    margin: 0;
    padding-bottom: 16px;
    font-size: 14px;
}
.onErr .container .content .input {
    width: 100% !important;
    height: 108px !important;
    background: #333;
    padding: 16px;
    color: white;
    border-radius: 5px;
    border: transparent;
    font-size: 14px;
}
.onErr .container .control {
    display: inline-block;
    width: 100%;
    font-size: 0;
}
.onErr .container .control .cancel {
    display: inline-block;
    width: 50%;
    text-align: center;
    background: #333;
    font-size: 16px;
    cursor: pointer;
}
.onErr .container .control .confirm {
    display: inline-block;
    width: 50%;
    text-align: center;
    background: #0ff;
    font-size: 16px;
    cursor: pointer;
}
.onErr .container .control .confirm, .onErr .container .control .cancel {
    padding: 1em 0 0 0;
}
.duration {
    font-size: 14px !important;
    margin-top: .5em !important;
}

.chat-main.splitChat li:nth-child(2n),
.split {
    background: linear-gradient(to right, rgba(155,157,160,0.10) 0%, rgba(0,0,0,0) 100%);
    box-shadow: -16px 0px 0px 0px rgba(155,157,160,0.10);
    width: 100%;
}
.chat-main.splitChat li:nth-child(2n) .chatDelete,
.splitfix {
    right: 1.7em !important;
}
#chat .chat-container .chat-messages .chat-main li .stream-item-content .image_row,
#chat .chat-container .chat-messages .chat-main li .chatDelete {
    top: 0.6rem;
}
#chat .chat-container .chat-messages .chat-main li .activity-row {
    padding-top: 0.6rem;
}
#chat .chat-container .chat-messages .chat-main li.chat-system-loading, #chat .chat-container .chat-messages .chat-main li.system, #chat .chat-container .chat-messages .chat-main li.system-error, #chat .chat-container .chat-messages .chat-main li.chat-me-command-joined {
    padding-top: 1rem;
    padding: 5px;
}

/* Custom CSS for ranks & special users */
#chat .chat-container ul.chat-main li.user-551d295433cd73030089d184 .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-53f7c199892b010200a98809 .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-560892bf8e9cb60300550aa2 .activity-row .text p a.username:hover:before {
    content: "Admin & DubX" !important;
    font-weight: 700;
    font-family: proxima-nova,sans-serif;
    font-size: 10px;
}
#chat .chat-container ul.chat-main li.user-55ff52375335f703008b0d38 .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-5607c12b8c2ecf0300b4233b .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-56008425621a9e0300317238 .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-560a30833e735703002efb74 .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-560a30833e735703002efb74 .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-5618cf0f465bce1800d389fa .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-55ffae6a1564a403003f5132 .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-560af26e9d6ab30300404673 .activity-row .text p a.username:hover:before {
    content: "DubX" !important;
    font-weight: 700;
    font-family: proxima-nova,sans-serif;
    font-size: 10px;
}

/* DubX Owners */
#chat .chat-container ul.chat-main li.user-551d295433cd73030089d184 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-53f7c199892b010200a98809 .activity-row .text p a.username {
    color: #89BE6C !important;
    text-shadow: 0px 0px 1px rgba(0,0,0,.5);
}
#chat .chat-container ul.chat-main li.user-551d295433cd73030089d184 .activity-row .text p a.username:before,
#chat .chat-container ul.chat-main li.user-53f7c199892b010200a98809 .activity-row .text p a.username:before {
    content: "\f137  \f1af";
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}
ul.avatar-list li.user-sinful p.dubs:before,
ul.avatar-list li.user-swordling p.dubs:before {
    content: "DubX Team  -  ";
    font-weight: 700 !important;
    color: #89BE6C !important;
}
ul.avatar-list li.user-sinful p.dubs:hover:before,
ul.avatar-list li.user-swordling p.dubs:hover:before {
    content: "DubX Owner  -  ";
    font-weight: 700 !important;
    color: #89BE6C !important;
}
ul.avatar-list li.admin.user-sinful:after, ul.avatar-list li.admin.user-swordling:after,
ul.avatar-list li.co-owner.user-sinful:after, ul.avatar-list li.co-owner.user-swordling:after,
ul.avatar-list li.creator.user-sinful:after, ul.avatar-list li.creator.user-swordling:after,
ul.avatar-list li.manager.user-sinful:after, ul.avatar-list li.manager.user-swordling:after,
ul.avatar-list li.mod.user-sinful:after, ul.avatar-list li.mod.user-swordling:after,
ul.avatar-list li.vip.user-sinful:after, ul.avatar-list li.vip.user-swordling:after,
ul.avatar-list li.resident-dj.user-sinful:after, ul.avatar-list li.resident-dj.user-swordling:after,
ul.avatar-list li.currentDJ .user-sinful:after, ul.avatar-list li.currentDJ .user-swordling:after,
.user-swordling, .user-sinful, .user-swordling p.username, .user-sinful p.username {
    color: #89BE6C !important;
}
#main_avatar_room #main-user-list-room #avatar-list li.admin.user-sinful p.username, #main_avatar_room #main-user-list-room #avatar-list li.admin.user-sinful p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-sinful p.username, #main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-sinful p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator.user-sinful p.username, #main_avatar_room #main-user-list-room #avatar-list li.creator.user-sinful p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager.user-sinful p.username, #main_avatar_room #main-user-list-room #avatar-list li.manager.user-sinful p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod.user-sinful p.username, #main_avatar_room #main-user-list-room #avatar-list li.mod.user-sinful p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-sinful p.username, #main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-sinful p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip.user-sinful p.username, #main_avatar_room #main-user-list-room #avatar-list li.vip.user-sinful p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.admin.user-swordling p.username, #main_avatar_room #main-user-list-room #avatar-list li.admin.user-swordling p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-swordling p.username, #main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-swordling p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator.user-swordling p.username, #main_avatar_room #main-user-list-room #avatar-list li.creator.user-swordling p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager.user-swordling p.username, #main_avatar_room #main-user-list-room #avatar-list li.manager.user-swordling p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod.user-swordling p.username, #main_avatar_room #main-user-list-room #avatar-list li.mod.user-swordling p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-swordling p.username, #main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-swordling p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip.user-swordling p.username, #main_avatar_room #main-user-list-room #avatar-list li.vip.user-swordling p.username:after {
    color: #89BE6C !important;
}

/* Dubtrack Admins & DubX Team */
#chat .chat-container ul.chat-main li.user-560892bf8e9cb60300550aa2 .activity-row .text p a.username {
    color: #89BE6C !important;
    text-shadow: 0px 0px 1px rgba(0,0,0,.5);
}
#chat .chat-container ul.chat-main li.user-560892bf8e9cb60300550aa2 .activity-row .text p a.username:before {
    content: "\f137  \f1ee";
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}
ul.avatar-list li.user-mbsurfer p.dubs:before {
    content: "DubX Team  -  ";
    font-weight: 700 !important;
    color: #89BE6C !important;
}
ul.avatar-list li.admin.user-mbsurfer:after,
ul.avatar-list li.co-owner.user-mbsurfer:after,
ul.avatar-list li.creator.user-mbsurfer:after,
ul.avatar-list li.mod.user-mbsurfer:after,
ul.avatar-list li.vip.user-mbsurfer:after,
ul.avatar-list li.resident-dj.user-mbsurfer:after,
ul.avatar-list li.currentDJ .user-mbsurfer:after,
.user-mbsurfer, .user-mbsurfer p.username {
    color: #89BE6C !important;
}
#main_avatar_room #main-user-list-room #avatar-list li.admin.user-mbsurfer p.username, #main_avatar_room #main-user-list-room #avatar-list li.admin.user-mbsurfer p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-mbsurfer p.username, #main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-mbsurfer p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator.user-mbsurfer p.username, #main_avatar_room #main-user-list-room #avatar-list li.creator.user-mbsurfer p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager.user-mbsurfer p.username, #main_avatar_room #main-user-list-room #avatar-list li.manager.user-mbsurfer p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod.user-mbsurfer p.username, #main_avatar_room #main-user-list-room #avatar-list li.mod.user-mbsurfer p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-mbsurfer p.username, #main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-mbsurfer p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip.user-mbsurfer p.username, #main_avatar_room #main-user-list-room #avatar-list li.vip.user-mbsurfer p.username:after {
    color: #89BE6C !important;
}

/* DubX Team */
#chat .chat-container ul.chat-main li.user-55ff52375335f703008b0d38 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-56030f67813abe030055f4a4 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-56008425621a9e0300317238 .activity-row .text p a.username {
    color: #409fff;
    text-shadow: 0px 0px 1px rgba(0,0,0,.5);
}
#chat .chat-container ul.chat-main li.user-55ff52375335f703008b0d38 .activity-row .text p a.username:before,
#chat .chat-container ul.chat-main li.user-56030f67813abe030055f4a4 .activity-row .text p a.username:before,
#chat .chat-container ul.chat-main li.user-56008425621a9e0300317238 .activity-row .text p a.username:before {
    content: "\f1ee" !important;
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}
ul.avatar-list li.user-kris p.dubs:before,
ul.avatar-list li.user-al3366 p.dubs:before,
ul.avatar-list li.user-ciscog p.dubs:before {
    content: "DubX Team  -  ";
    font-weight: 700 !important;
    color: #409fff;
}
ul.avatar-list li.co-owner.user-kris:after, ul.avatar-list li.co-owner.user-al3366:after, ul.avatar-list li.co-owner.user-ciscog:after,
ul.avatar-list li.creator.user-kris:after, ul.avatar-list li.creator.user-al3366:after, ul.avatar-list li.creator.user-ciscog:after,
ul.avatar-list li.manager.user-kris:after, ul.avatar-list li.manager.user-al3366:after, ul.avatar-list li.manager.user-ciscog:after,
ul.avatar-list li.mod.user-kris:after, ul.avatar-list li.mod.user-al3366:after, ul.avatar-list li.mod.user-ciscog:after,
ul.avatar-list li.vip.user-kris:after, ul.avatar-list li.vip.user-al3366:after, ul.avatar-list li.vip.user-ciscog:after,
ul.avatar-list li.resident-dj.user-kris:after, ul.avatar-list li.resident-dj.user-al3366:after, ul.avatar-list li.resident-dj.user-ciscog:after,
ul.avatar-list li.currentDJ .user-kris:after, ul.avatar-list li.currentDJ .user-al3366:after, ul.avatar-list li.currentDJ .user-ciscog:after,
.user-kris, .user-al3366, .user-ciscog,
.user-kris p.username, .user-al3366 p.username, .user-ciscog p.username {
    color: #409fff !important;
}
#main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.creator.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.manager.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.mod.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.vip.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-al3366 p.username, #main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-al3366 p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator.user-al3366 p.username, #main_avatar_room #main-user-list-room #avatar-list li.creator.user-al3366 p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager.user-al3366 p.username, #main_avatar_room #main-user-list-room #avatar-list li.manager.user-al3366 p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod.user-al3366 p.username, #main_avatar_room #main-user-list-room #avatar-list li.mod.user-al3366 p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-al3366 p.username, #main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-al3366 p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip.user-al3366 p.username, #main_avatar_room #main-user-list-room #avatar-list li.vip.user-al3366 p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-ciscog p.username, #main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-ciscog p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator.user-ciscog p.username, #main_avatar_room #main-user-list-room #avatar-list li.creator.user-ciscog p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager.user-ciscog p.username, #main_avatar_room #main-user-list-room #avatar-list li.manager.user-ciscog p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod.user-ciscog p.username, #main_avatar_room #main-user-list-room #avatar-list li.mod.user-ciscog p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-ciscog p.username, #main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-ciscog p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip.user-ciscog p.username, #main_avatar_room #main-user-list-room #avatar-list li.vip.user-ciscog p.username:after {
    color: #409fff;
}

/* Special users */
#chat .chat-container ul.chat-main li.user-5607c12b8c2ecf0300b4233b .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-560a30833e735703002efb74 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-5618cf0f465bce1800d389fa .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-55ffae6a1564a403003f5132 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-560af26e9d6ab30300404673 .activity-row .text p a.username {
    color: #E8C248 !important;
    text-shadow: 0px 0px 1px rgba(0,0,0,.5);
}
#chat .chat-container ul.chat-main li.user-5607c12b8c2ecf0300b4233b .activity-row .text p a.username:before {
    content: "\f17b" !important;
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}
#chat .chat-container ul.chat-main li.user-560a30833e735703002efb74 .activity-row .text p a.username:before,
#chat .chat-container ul.chat-main li.user-55ffae6a1564a403003f5132 .activity-row .text p a.username:before {
    content: "\f106" !important;
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}
#chat .chat-container ul.chat-main li.user-5618cf0f465bce1800d389fa .activity-row .text p a.username:before {
    content: "\f159" !important;
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}
#chat .chat-container ul.chat-main li.user-560af26e9d6ab30300404673 .activity-row .text p a.username:before {
    content: "\f1ae" !important;
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}
ul.avatar-list li.user-fi p.dubs:before,
ul.avatar-list li.user-jinkx p.dubs:before,
ul.avatar-list li.user-surreal p.dubs:before,
ul.avatar-list li.user-pikachu p.dubs:before,
ul.avatar-list li.user-law p.dubs:before {
    content: "DubX VIP  -  ";
    font-weight: 700 !important;
    color: #E8C248 !important;
}
ul.avatar-list li.co-owner.user-fi:after, ul.avatar-list li.co-owner.user-jinkx:after, ul.avatar-list li.co-owner.user-surreal:after, ul.avatar-list li.co-owner.user-pikachu:after, ul.avatar-list li.co-owner.user-law:after,
ul.avatar-list li.creator.user-fi:after, ul.avatar-list li.creator.user-jinkx:after, ul.avatar-list li.creator.user-surreal:after, ul.avatar-list li.creator.user-pikachu:after, ul.avatar-list li.creator.user-law:after,
ul.avatar-list li.manager.user-fi:after, ul.avatar-list li.manager.user-jinkx:after, ul.avatar-list li.manager.user-surreal:after, ul.avatar-list li.manager.user-pikachu:after, ul.avatar-list li.manager.user-law:after,
ul.avatar-list li.mod.user-fi:after, ul.avatar-list li.mod.user-jinkx:after, ul.avatar-list li.mod.user-surreal:after, ul.avatar-list li.mod.user-pikachu:after, ul.avatar-list li.mod.user-law:after,
ul.avatar-list li.vip.user-fi:after, ul.avatar-list li.vip.user-jinkx:after, ul.avatar-list li.vip.user-surreal:after, ul.avatar-list li.vip.user-pikachu:after, ul.avatar-list li.vip.user-law:after,
ul.avatar-list li.resident-dj.user-fi:after, ul.avatar-list li.resident-dj.user-jinkx:after, ul.avatar-list li.resident-dj.user-surreal:after, ul.avatar-list li.resident-dj.user-pikachu:after, ul.avatar-list li.resident-dj.user-law:after,
ul.avatar-list li.currentDJ .user-fi:after, ul.avatar-list li.currentDJ.user-jinkx:after, ul.avatar-list li.currentDJ.user-surreal:after, ul.avatar-list li.currentDJ.user-pikachu:after, ul.avatar-list li.currentDJ.user-law:after,
.user-fi, .user-fi p.username, .user-jinkx, .user-jinkx p.username, .user-surreal, .user-surreal p.username, .user-pikachu, .user-pikachu p.username, .user-law, .user-law p.username {
    color: #E8C248 !important;
}
#main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-fi p.username, #main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-fi p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator.user-fi p.username, #main_avatar_room #main-user-list-room #avatar-list li.creator.user-fi p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager.user-fi p.username, #main_avatar_room #main-user-list-room #avatar-list li.manager.user-fi p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod.user-fi p.username, #main_avatar_room #main-user-list-room #avatar-list li.mod.user-fi p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-fi p.username, #main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-fi p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip.user-fi p.username, #main_avatar_room #main-user-list-room #avatar-list li.vip.user-fi p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-jinkx p.username, #main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-jinkx p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator.user-jinkx p.username, #main_avatar_room #main-user-list-room #avatar-list li.creator.user-jinkx p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager.user-jinkx p.username, #main_avatar_room #main-user-list-room #avatar-list li.manager.user-jinkx p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod.user-jinkx p.username, #main_avatar_room #main-user-list-room #avatar-list li.mod.user-jinkx p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-jinkx p.username, #main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-jinkx p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip.user-jinkx p.username, #main_avatar_room #main-user-list-room #avatar-list li.vip.user-jinkx p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-surreal p.username, #main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-surreal p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator.user-surreal p.username, #main_avatar_room #main-user-list-room #avatar-list li.creator.user-surreal p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager.user-surreal p.username, #main_avatar_room #main-user-list-room #avatar-list li.manager.user-surreal p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod.user-surreal p.username, #main_avatar_room #main-user-list-room #avatar-list li.mod.user-surreal p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-surreal p.username, #main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-surreal p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip.user-surreal p.username, #main_avatar_room #main-user-list-room #avatar-list li.vip.user-surreal p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-pikachu p.username, #main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-pikachu p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator.user-pikachu p.username, #main_avatar_room #main-user-list-room #avatar-list li.creator.user-pikachu p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager.user-pikachu p.username, #main_avatar_room #main-user-list-room #avatar-list li.manager.user-pikachu p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod.user-pikachu p.username, #main_avatar_room #main-user-list-room #avatar-list li.mod.user-pikachu p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-pikachu p.username, #main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-pikachu p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip.user-pikachu p.username, #main_avatar_room #main-user-list-room #avatar-list li.vip.user-pikachu p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-law p.username, #main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-law p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator.user-law p.username, #main_avatar_room #main-user-list-room #avatar-list li.creator.user-law p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager.user-law p.username, #main_avatar_room #main-user-list-room #avatar-list li.manager.user-law p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod.user-law p.username, #main_avatar_room #main-user-list-room #avatar-list li.mod.user-law p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-law p.username, #main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-law p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip.user-law p.username, #main_avatar_room #main-user-list-room #avatar-list li.vip.user-law p.username:after {
    color: #E8C248 !important;
}

/* Admins */
#chat .chat-container ul.chat-main li.user-52c821781e2b1fd945000001 .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-52c8ef6037e22b0200000005 .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-52d24bff4cf9670200000515 .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-52c8efcf37e22b0200000008 .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-52c8254ca7b7260200000001 .activity-row .text p a.username:hover:before {
    content: "Admin";
    font-weight: 700;
    font-family: proxima-nova,sans-serif;
    font-size: 10px;
}
#chat .chat-container ul.chat-main li.user-52c821781e2b1fd945000001 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-52c8ef6037e22b0200000005 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-52d24bff4cf9670200000515 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-52c8efcf37e22b0200000008 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-52c8254ca7b7260200000001 .activity-row .text p a.username {
    color: #FF7E00;
    text-shadow: 0px 0px 1px rgba(0,0,0,.5);
}
#chat .chat-container ul.chat-main li.user-52c821781e2b1fd945000001 .activity-row .text p a.username:before,
#chat .chat-container ul.chat-main li.user-52c8ef6037e22b0200000005 .activity-row .text p a.username:before,
#chat .chat-container ul.chat-main li.user-52d24bff4cf9670200000515 .activity-row .text p a.username:before,
#chat .chat-container ul.chat-main li.user-52c8efcf37e22b0200000008 .activity-row .text p a.username:before,
#chat .chat-container ul.chat-main li.user-52c8254ca7b7260200000001 .activity-row .text p a.username:before {
    content: "\f137";
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}
ul.avatar-list li.admin:after {
    color: #FF7E00;
}
ul.avatar-list li.admin p {
    color: #FF7E00;
}


/* Fix for no separation? */
/** Admin **/
#main_avatar_room #main-user-list-room #avatar-list li.admin p.username:after {
    content: "-  Admin" !important;
}

/** Moderators **/
#main_avatar_room #main-user-list-room #avatar-list li.co-owner p.username:after {
    content: "-  Co-owner";
}
#main_avatar_room #main-user-list-room #avatar-list li.creator p.username:after {
    content: "-  Creator" !important;
}
#main_avatar_room #main-user-list-room #avatar-list li.manager p.username:after {
    content: "-  Manager";
}
#main_avatar_room #main-user-list-room #avatar-list li.mod p.username:after {
    content: "-  Mod";
}
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj p.username:after {
    content: "-  Resident DJ";
}
#main_avatar_room #main-user-list-room #avatar-list li.vip p.username:after {
    content: "-  VIP";
}

/** Current DJ **/
#main_avatar_room #main-user-list-room #avatar-list li.currentDJ p.username:after {
    content: "-  DJ" !important;
}
