/****************************************************
 * Emoji and Twitch emote section
 * twitch logo white: http://i.imgur.com/FhzONPQ.png
 */

#emoji-preview {
    overflow: auto; 
    display: block; 
    position: absolute; 
    bottom: 54px; 
    background-color:#111;
    width: 94.5%;
    height: auto;
    max-height: 0;

    /* thinking of turning it into a UL*/
    padding: 0;
    list-style-type: none;
    margin: 0;
}

#emoji-preview li {
  display: block;
  padding: 6px 10px;
  margin: 0;
}

#emoji-preview li:hover,
#emoji-preview li.selected {
  background-color: #555;
}

#emoji-preview li:focus {
  outline: none;
}

.twitch-previews {
  background-image: url(http://i.imgur.com/FhzONPQ.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 98% center;
}

#emoji-preview span {
  font-size: 0.8em;
  display:inline-block; 
  padding-left: 20px;
}

#emoji-preview img {
  max-height: 1.4em;
  max-width: 1.4em;
  display:inline-block;
}

#emoji-preview.emoji-grow {
  border: 1px solid #202020;
  border-bottom: 0;
  max-height: 63vh;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.twitch-emoji.emoji {
  width: 2.5rem !important;
  height: 2.5rem !important;
}