.isUser {
        text-transform: capitalize;
    }
    .hideElement {
        display: none !important;
    }
    .fullscreenController {
        min-height: 3em !important;
    }
    .fullscreenFix {
        padding: 3em 0 3em 0 !important
    }
    .fullscreenParent {
        display: block !important;
        margin: 0 !important;
        width: 100vw !important;
        padding: 0 !important;
        max-width: 100vw !important
    }
    .fullscreenLeft {
        width: calc(98.9vw - 428px) !important;
        float: left !important;
        height: calc(99.2vh - 88px) !important
    }
    .fullscreenRight {
        right: 0 !important;
        float: right !important;
        margin-right: 0 !important;
        position: fixed !important;
        height: calc(100vh - 88px) !important
    }
    .fullscreenChat {
        height: 100% !important;
        position: absolute !important;
        right: 0 !important;
        width: 428px !important
    }
    .fullscreenChatChild {
        height: calc(100vh - 210px) !important
    }
    .fullscreenVideo {
        height: 100% !important
    }
    .fullscreenVideoChild {
        height: calc(100% - 55px) !important
    }
    .isSwordful {
        display: none;
        position: fixed;
        right: 0;
        top: 48px;
        width: 314px;
        z-index: 2147483647;
        padding 27px 0 27px 0;
        height: 100vh;
        height: calc(100vh - 91px);
        overflow-y: scroll;
        overflow-x: hidden;
        background: #111;
        border-left: 3px solid magenta;
    }
    .isSwordful .verSwordful {
        padding: 13px 0 13px 0;
        margin: 0 27px 0 27px;
        color: #fff;
        border-bottom: 1px solid #333;
    }
    .isSwordful .verSwordful .Javaling {
        text-transform: uppercase;
        font-weight: 700;
        margin: 0 0 6px 0;
    }
    .isSwordful .verSwordful .Javaful {
        font-weight: 400;
        margin: 6px 0 0 0;
        font-size: 12px;
        color: #CCCCCC;
    }
    .isSwordful .optionSwordful {
        list-style: none;
        margin: 0;
        padding: 13px 0 13px 0;
        color: #fff;
    }
    .isSwordful .optionSwordful .isOnOff {
        display: inline;
        margin: 0;
        font-size: 16px;
    }
    .isSwordful .optionSwordful .Optionling {
        display: inline;
        margin: 0 0 0 1em;
        font-size: 16px;
    }
    .isSwordful .optionSwordful .optionClass {
        background: #111;
        padding: 6px 27px 6px 27px;
        cursor: pointer;
    }
    .isSwordful .optionSwordful .optionClass:hover {
        background: #333;
    }
    .isSwordful .optionSwordful .titleClass .istitle {
        margin: 13px 27px 13px 28px;
        color: #444;
        border-bottom: 1px solid #444;
    }
    .onErr {
	display: block;
    width: 100vw;
    height: 100vw;
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 2147483647;
    font-weight: 400;
}
.onErr .container {
	display: block;
    margin-top: 108px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0 0 5px #000;
    background: #111;
    color: #fff;
    width: 640px;
}
.onErr .container .title {
	height: 54px;
    background: #333;
}
.onErr .container .title h1 {
	margin: 0;
    text-align: center;
    padding-top: 15px;
    font-weight: 400;
}
.onErr .container .content {
	width: 75%;
    margin: 0 auto;
    padding: 27px;
}
.onErr .container .content p {
	margin: 0;
    padding-bottom: 16px;
    font-size: 14px;
}
.onErr .container .content .input {
	width: 100%;
    height: 108px;
    background: #333;
    padding: 16px;
    color: white;
    border-radius: 5px;
    border: transparent;
}
.onErr .container .control {
	display: inline-block;
    width: 100%;
    font-size: 0;
}
.onErr .container .control .cancel {
	display: inline-block;
    width: 50%;
    text-align: center;
    background: #333;
    font-size: 16px;
	cursor: pointer;
}
.onErr .container .control .confirm {
	display: inline-block;
    width: 50%;
    text-align: center;
    background: magenta;
    font-size: 16px;
	cursor: pointer;
}

