.isUser {
    text-transform: capitalize;
}
.hideElement {
    display: none !important;
}
.fullscreenController {
    min-height: 3em !important;
}
.fullscreenFix {
    padding: 3em 0 3em 0 !important
}
.fullscreenParent {
    display: block !important;
    margin: 0 !important;
    width: 100vw !important;
    padding: 0 !important;
    max-width: 100vw !important;
}
.fullscreenLeft {
    width: calc(98.9vw - 428px) !important;
    float: left !important;
    height: calc(99.2vh - 88px) !important
}
.fullscreenRight {
    right: 0 !important;
    float: right !important;
    margin-right: 0 !important;
    position: fixed !important;
    height: calc(100vh - 88px) !important;
}
.fullscreenChat {
    height: 100% !important;
    position: absolute !important;
    right: 0 !important;
    width: 428px !important;
}
.fullscreenChatChild {
    height: calc(100vh - 210px) !important;
}
.fullscreenVideo {
    height: 100% !important;
}
.fullscreenVideoChild {
    height: calc(100% - 55px) !important;
}
.isSwordful {
    display: none;
    position: fixed;
    right: 0;
    top: 48px;
    width: 314px;
    z-index: 2147483647;
    padding 27px 0 27px 0;
    height: 100vh;
    height: calc(100vh - 91px);
    overflow-y: scroll;
    overflow-x: hidden;
    background: #111;
    border-left: 3px solid magenta;
}
.isSwordful .verSwordful {
    padding: 13px 0 13px 0;
    margin: 0 27px 0 27px;
    color: #fff;
    border-bottom: 1px solid #333;
}
.isSwordful .verSwordful .Javaling {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 6px 0;
}
.isSwordful .verSwordful .Javaful {
    font-weight: 400;
    margin: 6px 0 0 0;
    font-size: 12px;
    color: #CCCCCC;
}
.isSwordful .optionSwordful {
    list-style: none;
    margin: 0;
    padding: 13px 0 13px 0;
    color: #fff;
}
.isSwordful .optionSwordful .isOnOff {
    display: inline;
    margin: 0;
    font-size: 16px;
}
.isSwordful .optionSwordful .Optionling {
    display: inline;
    margin: 0 0 0 1em;
    font-size: 16px;
}
.isSwordful .optionSwordful .optionClass {
    background: #111;
    padding: 6px 27px 6px 27px;
    cursor: pointer;
}
.isSwordful .optionSwordful .optionClass:hover {
    background: #333;
}
.isSwordful .optionSwordful .titleClass .istitle {
    margin: 13px 27px 13px 28px;
    color: #444;
    border-bottom: 1px solid #444;
}
.onErr {
    display: block;
    width: 100vw;
    height: 100vw;
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 2147483647;
    font-weight: 400;
}
.onErr .container {
    display: block;
    margin-top: 108px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0 0 5px #000;
    background: #111;
    color: #fff;
    width: 640px;
}
.onErr .container .title {
    height: 54px;
    background: #333;
}
.onErr .container .title h1 {
    margin: 0;
    text-align: center;
    padding-top: 15px;
    font-weight: 400;
}
.onErr .container .content {
    width: 75%;
    margin: 0 auto;
    padding: 27px;
}
.onErr .container .content p {
    margin: 0;
    padding-bottom: 16px;
    font-size: 14px;
}
.onErr .container .content .input {
    width: 100%;
    height: 108px;
    background: #333;
    padding: 16px;
    color: white;
    border-radius: 5px;
    border: transparent;
}
.onErr .container .control {
    display: inline-block;
    width: 100%;
    font-size: 0;
}
.onErr .container .control .cancel {
    display: inline-block;
    width: 50%;
    text-align: center;
    background: #333;
    font-size: 16px;
    cursor: pointer;
}
.onErr .container .control .confirm {
    display: inline-block;
    width: 50%;
    text-align: center;
    background: magenta;
    font-size: 16px;
    cursor: pointer;
}
.durationRemaining {
    font-size: 14px !important;
    margin-top: .5em !important;
}
.split {
    background:#181818;
    box-shadow:-8px 0px 0px 0px #181818;
    width:100%;
}
.splitfix {
    right: 1.7em !important;
}

/* Custom CSS for ranks & special users */
#chat .chat-container ul.chat-main li.user-551d295433cd73030089d184 .activity-row .text span.username-handle {
	color: #89BE6C !important;
	font-weight: 500;
	text-shadow: 0px 0px 1px #000;
}
#chat .chat-container ul.chat-main li.user-551d295433cd73030089d184 .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-53f7c199892b010200a98809 .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-55ff52375335f703008b0d38 .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-5607c12b8c2ecf0300b4233b .activity-row .text p a.username:hover:before {
    content: "DubX";
    font-weight: 700;
    font-family: proxima-nova,sans-serif;
    font-size: 10px;
}

/* Owners */
#chat .chat-container ul.chat-main li.user-551d295433cd73030089d184 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-53f7c199892b010200a98809 .activity-row .text p a.username {
    color: #89BE6C !important;
    font-weight: 500;
    text-shadow: 0px 0px 1px #000;
}
#chat .chat-container ul.chat-main li.user-551d295433cd73030089d184 .activity-row .text p a.username:before,
#chat .chat-container ul.chat-main li.user-53f7c199892b010200a98809 .activity-row .text p a.username:before {
    content: "\f1af";
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}
ul.avatar-list li.creator.user-sinful p.dubs:after,
ul.avatar-list li.creator.user-swordling p.dubs:after,
ul.avatar-list li.co-owner.user-sinful p.dubs:after,
ul.avatar-list li.co-owner.user-swordling p.dubs:after,
ul.avatar-list li.manager.user-sinful p.dubs:after,
ul.avatar-list li.manager.user-swordling p.dubs:after,
ul.avatar-list li.mod.user-sinful p.dubs:after,
ul.avatar-list li.mod.user-swordling p.dubs:after,
ul.avatar-list li.vip.user-sinful p.dubs:after,
ul.avatar-list li.vip.user-swordling p.dubs:after,
ul.avatar-list li.resident-dj.user-sinful p.dubs:after,
ul.avatar-list li.resident-dj.user-swordling p.dubs:after,
ul.avatar-list li.vip.user-sinful p.dubs:after,
ul.avatar-list li.vip.user-swordling p.dubs:after {
    content: "";
    font-weight: 700 !important;
    color: #89BE6C !important;
}
ul.avatar-list li.user-sinful p.dubs:after,
ul.avatar-list li.user-swordling p.dubs:after {
    content: " - DUBX DEVELOPER";
    font-weight: 700 !important;
    color: #89BE6C !important;
}
ul.avatar-list li.creator.user-sinful:hover:after,
ul.avatar-list li.creator.user-swordling:hover:after,
ul.avatar-list li.co-owner.user-sinful:hover:after,
ul.avatar-list li.co-owner.user-swordling:hover:after,
ul.avatar-list li.manager.user-sinful:hover:after,
ul.avatar-list li.manager.user-swordling:hover:after,
ul.avatar-list li.mod.user-sinful:hover:after,
ul.avatar-list li.mod.user-swordling:hover:after,
ul.avatar-list li.vip.user-sinful:hover:after,
ul.avatar-list li.vip.user-swordling:hover:after,
ul.avatar-list li.resident-dj.user-sinful:hover:after,
ul.avatar-list li.resident-dj.user-swordling:hover:after {
    content: "- DUBX DEVELOPER";
    font-weight: 700 !important;
    color: #89BE6C !important;
}
ul.avatar-list .user-sinful:hover:after,
ul.avatar-list .user-swordling:hover:after {
    font-weight: 700 !important;
    color: #89BE6C !important;
}
ul.avatar-list li.creator.user-sinful:after,
ul.avatar-list li.creator.user-swordling:after,
ul.avatar-list li.co-owner.user-sinful:after,
ul.avatar-list li.co-owner.user-swordling:after,
ul.avatar-list li.manager.user-sinful:after,
ul.avatar-list li.manager.user-swordling:after,
ul.avatar-list li.mod.user-sinful:after,
ul.avatar-list li.mod.user-swordling:after,
ul.avatar-list li.vip.user-sinful:after,
ul.avatar-list li.vip.user-swordling:after,
ul.avatar-list li.resident-dj.user-sinful:after,
ul.avatar-list li.resident-dj.user-swordling:after,
ul.avatar-list li.currentDJ .user-sinful:after,
ul.avatar-list li.currentDJ .user-swordling:after,
.user-swordling, .user-sinful,
.user-swordling p.username, .user-sinful p.username {
    color: #89BE6C !important;
}

/* Contributors */
#chat .chat-container ul.chat-main li.user-55ff52375335f703008b0d38 .activity-row .text p a.username {
    color: #519CD7 !important;
    font-weight: 700;
    text-shadow: 0px 0px 1px #000;
}
#chat .chat-container ul.chat-main li.user-55ff52375335f703008b0d38 .activity-row .text p a.username:before {
    content: "\f1ee";
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}
ul.avatar-list li.creator.user-kris p.dubs:after,
ul.avatar-list li.co-owner.user-kris p.dubs:after,
ul.avatar-list li.manager.user-kris p.dubs:after,
ul.avatar-list li.mod.user-kris p.dubs:after,
ul.avatar-list li.vip.user-kris p.dubs:after,
ul.avatar-list li.resident-dj.user-kris p.dubs:after,
ul.avatar-list li.vip.user-kris p.dubs:after {
    content: "";
    font-weight: 700 !important;
    color: #519CD7 !important;
}
ul.avatar-list li.user-kris p.dubs:after {
    content: " - DUBX CONTRIBUTOR";
    font-weight: 700 !important;
    color: #519CD7 !important;
}
ul.avatar-list li.creator.user-kris:hover:after,
ul.avatar-list li.co-owner.user-kris:hover:after,
ul.avatar-list li.manager.user-kris:hover:after,
ul.avatar-list li.mod.user-kris:hover:after,
ul.avatar-list li.vip.user-kris:hover:after,
ul.avatar-list li.resident-dj.user-kris:hover:after {
    content: "- DUBX CONTRIBUTOR";
    font-weight: 700 !important;
    color: #519CD7 !important;
}
ul.avatar-list .user-kris:hover:after {
    font-weight: 700 !important;
    color: #519CD7 !important;
}
ul.avatar-list li.creator.user-kris:after,
ul.avatar-list li.co-owner.user-kris:after,
ul.avatar-list li.manager.user-kris:after,
ul.avatar-list li.mod.user-kris:after,
ul.avatar-list li.vip.user-kris:after,
ul.avatar-list li.resident-dj.user-kris:after,
ul.avatar-list li.currentDJ .user-kris:after,
.user-kris,
.user-kris p.username {
    color: #519CD7 !important;
}

/* Special users */
#chat .chat-container ul.chat-main li.user-5607c12b8c2ecf0300b4233b .activity-row .text p a.username {
    color: #FFD904 !important;
    font-weight: 500;
    text-shadow: 0px 0px 1px #000;
}
#chat .chat-container ul.chat-main li.user-5607c12b8c2ecf0300b4233b .activity-row .text p a.username:before {
    content: "\f17b";
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}
ul.avatar-list li.creator.user-fi p.dubs:after,
ul.avatar-list li.co-owner.user-fi p.dubs:after,
ul.avatar-list li.manager.user-fi p.dubs:after,
ul.avatar-list li.mod.user-fi p.dubs:after,
ul.avatar-list li.vip.user-fi p.dubs:after,
ul.avatar-list li.resident-dj.user-fi p.dubs:after,
ul.avatar-list li.vip.user-fi p.dubs:after {
    content: "";
    font-weight: 700 !important;
    color: #FFD904 !important;
}
ul.avatar-list li.user-fi p.dubs:after {
    content: " - DUBX VIP";
    font-weight: 700 !important;
    color: #FFD904 !important;
}
ul.avatar-list li.creator.user-fi:hover:after,
ul.avatar-list li.co-owner.user-fi:hover:after,
ul.avatar-list li.manager.user-fi:hover:after,
ul.avatar-list li.mod.user-fi:hover:after,
ul.avatar-list li.vip.user-fi:hover:after,
ul.avatar-list li.resident-dj.user-fi:hover:after {
    content: "- DUBX VIP";
    font-weight: 700 !important;
    color: #FFD904 !important;
}
ul.avatar-list .user-fi:hover:after {
    font-weight: 700 !important;
    color: #FFD904 !important;
}
ul.avatar-list li.creator.user-fi:after,
ul.avatar-list li.co-owner.user-fi:after,
ul.avatar-list li.manager.user-fi:after,
ul.avatar-list li.mod.user-fi:after,
ul.avatar-list li.vip.user-fi:after,
ul.avatar-list li.resident-dj.user-fi:after,
ul.avatar-list li.currentDJ .user-fi:after,
.user-fi,
.user-fi p.username {
    color: #FFD904 !important;
}
/* Admins */
#chat .chat-container ul.chat-main li.user-52c821781e2b1fd945000001 .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-52c8ef6037e22b0200000005 .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-52d24bff4cf9670200000515 .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-52c8efcf37e22b0200000008 .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-52c8254ca7b7260200000001 .activity-row .text p a.username:hover:before {
    content: "Admin";
    font-weight: 700;
    font-family: proxima-nova,sans-serif;
    font-size: 10px;
}
#chat .chat-container ul.chat-main li.user-52c821781e2b1fd945000001 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-52c8ef6037e22b0200000005 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-52d24bff4cf9670200000515 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-52c8efcf37e22b0200000008 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-52c8254ca7b7260200000001 .activity-row .text p a.username {
    color: #42A5DC ;
    font-weight: 500;
    text-shadow: 0px 0px 1px #000;
}
#chat .chat-container ul.chat-main li.user-52c821781e2b1fd945000001 .activity-row .text p a.username:before,
#chat .chat-container ul.chat-main li.user-52c8ef6037e22b0200000005 .activity-row .text p a.username:before,
#chat .chat-container ul.chat-main li.user-52d24bff4cf9670200000515 .activity-row .text p a.username:before,
#chat .chat-container ul.chat-main li.user-52c8efcf37e22b0200000008 .activity-row .text p a.username:before,
#chat .chat-container ul.chat-main li.user-52c8254ca7b7260200000001 .activity-row .text p a.username:before {
    content: "\f137";
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}
ul.avatar-list li.admin:after {
    color: #42A5DC ;
}
ul.avatar-list li.admin p {
	color: #42A5DC ;
}
ul.avatar-list li.admin p.dubs {
    color: #999;
}
