#chat .chat-container ul.chat-main li.user-551d295433cd73030089d184 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-53f7c199892b010200a98809 .activity-row .text p a.username {
    color: #89BE6C !important;
    font-weight: 500;
    text-shadow: 0px 0px 1px #000;
    text-transform: capitalize;
}
#chat .chat-container ul.chat-main li.user-551d295433cd73030089d184 .activity-row .text p a.username:before,
#chat .chat-container ul.chat-main li.user-53f7c199892b010200a98809 .activity-row .text p a.username:before {
    content: "\f1af";
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}
#chat .chat-container ul.chat-main li.user-551d295433cd73030089d184 .activity-row .text p a.username:hover:before,
#chat .chat-container ul.chat-main li.user-53f7c199892b010200a98809 .activity-row .text p a.username:hover:before {
    content: "DubX";
    text-transform: uppercase;
    font-weight: 700;
    font-family: proxima-nova,sans-serif;
    font-size: 10px;
}
