/*
    Custom CSS for Dubtrack.fm
    Plug Theme and UI improvements
    Originally made by @kris | Redone by @sinful
    https://dubtrack.fm/kris
    https://dubtrack.fm/sinful
*/

/* Main Menu (left) */
#main-menu-left a.room-active-link {
	color: #AA74FE;
    box-shadow: inset 4px 0px 0px 0px #AA74FE
}

/* Main Menu (right) */
#header-global .header-right-navigation .user-info span,
[class*=" icon-"], [class^=icon-] {
	color: #AA74FE;
}

/* Top Header */
a, a:active, a:focus, a:hover,
#header-global .header-left-navigation a.room-active-link.active-room .icon-chevron, #header-global .header-left-navigation a.room-active-link.active-room .icon-chevron:hover {
	color: #AA74FE;
}

/* Bottom Header */
#player-controller .left ul li.infoContainer .infoContainerInner .progressBg {
	background: #AA74FE;
}
span.currentSong, .currentTime, span.min, span.sec {
	color: #AA74FE;
}
.icon-play:before, .icon-playlist:before, .icon-history:before, .icon-heart:before {
	color: #AA74FE;
}
#player-controller .right ul li .dubup.voted {
	background: #90AD2F;
}
#player-controller .right ul li .dubup .icon-arrow-up, #player-controller .right ul li .dubup .dub-counter {
	color: #90AD2F;
}
#player-controller .right ul li .dubdown.voted {
	background: #C42E3B;
}
#player-controller .right ul li .dubdown .icon-arrow-down, #player-controller .right ul li .dubdown .dub-counter {
	color: #C42E3B;
}

/* Lobby */
span.name,
#room-list #container-room-list .room-item .current-song, #room-list #container-room-list .room-item .roomImage .join {
	color: #AA74FE;
}

/* Video Buttons (top) */
#main_player .player_header span.active {
	background: #AA74FE;
}

/* Video Buttons (bottom) */
#main_player .player_sharing .player-controller-container .volume-controller-container #volume-div .ui-slider-range-min {
	background: #AA74FE;
}
.duration,
#main_player .play-song-link i {
	color: #AA74FE;
}

/* Chat */
#chat .chat_tools span:hover {
	color: #AA74FE;
}
#chat .chat_tools span:after {
	border-color: #AA74FE;
}
#chat .pusher-chat-widget-input #new-messages-counter {
	background: #AA74FE;
}
#chat .chat-container .chat-messages .chat-main li .activity-row .text a.username {
	color: #AA74FE;
}

/* User List */

/** Admin **/
#main_avatar_room #main-user-list-room #avatar-list li.admin p.username,
#main_avatar_room #main-user-list-room #avatar-list li.admin p.username:after {
	color: #42A5DC;
}

/** Moderators **/
#main_avatar_room #main-user-list-room #avatar-list li.co-owner p.username,
#main_avatar_room #main-user-list-room #avatar-list li.creator p.username,
#main_avatar_room #main-user-list-room #avatar-list li.manager p.username,
#main_avatar_room #main-user-list-room #avatar-list li.mod p.username,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj p.username,
#main_avatar_room #main-user-list-room #avatar-list li.vip p.username,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip p.username:after {
	color: #AA74FE;
}

/** Current DJ **/
#main_avatar_room #main-user-list-room #avatar-list li.currentDJ p.username,
#main_avatar_room #main-user-list-room #avatar-list li.currentDJ p.username:after {
	color: #0FF;
}

/** Users **/
#main_avatar_room #main-user-list-room #avatar-list li:after p,
#main_avatar_room #main-user-list-room #avatar-list li:after p.username,
#main_avatar_room #main-user-list-room #avatar-list li:after p.username:after {
	color: #878C8E;
}

/* Settings */
#chat .chat-options .chat-option-buttons span.active i, #chat .chat-options .chat-option-buttons span:hover {
	color: #AA74FE;
}

/* Queue */
#browser .browser-content .browser-content-header .close-browser,
#browser .browser-content .browser-content-main .nano .loading {
	background: #AA74FE;
}
#browser .browser-content .browser-content-main .sidebar #playlists-scroll .playlist-style li.selected {
	background: #fff;
}
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item .description .dubs-display,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item .description .playedby,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item .description .preview,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item .description .dubs-display,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item .description .playedby,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item .description .preview,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .description .dubs-display,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .description .playedby,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .description .preview,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .search-item .description .dubs-display,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .search-item .description .playedby,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .search-item .description .preview,
#browser .browser-content .browser-content-main .sidebar .create-playlist .create-playlist-display span {
	color: #AA74FE;
}
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item.selected {
	border: 1px solid #AA74FE;
}

/* Preview */
.playerPreview .controlContainer .progressContainer .loaded, .playerPreview .controlContainer .progressContainer .progress,
.playerPreview .ui-slider-range {
	background: #AA74FE;
}
.playerPreview .ui-slider-handle {
	background: #fff;
}

/* Room Info */
#roomInfoModal .modal-header h3, #roomFormUpdate .mid a, #roomInfoModal .mid a {
	color: #AA74FE;
}

/* User */
span.usernameContainer, .followers-counter,
#profileMainSection .profileView .header .pictureContainer .updatePictureGif {
	color: #AA74FE;
}
#profileMainSection .profileView .infoProfile .edit-btn, #profileMainSection .profileView .infoProfile .follow-btn {
	color: #AA74FE;
	border: 2px solid #AA74FE;
}

/* Special CSS Settings */

/** Contributors **/
#chat .chat-container ul.chat-main li.user-55ff52375335f703008b0d38 .activity-row .text p a.username {
	color: #D7519C !important;
    font-weight: 700;
    text-shadow: 0px 0px 1px #000;
}
#chat .chat-container ul.chat-main li.user-55ff52375335f703008b0d38 .activity-row .text p a.username:before {
	content: "\f1ee";
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}
ul.avatar-list li.user-kris p.dubs:before {
	content: "DubX Contributor  -  ";
	font-weight: 700 !important;
	color: #D7519C !important;
}
ul.avatar-list li.creator-co-owner.user-kris:after,
ul.avatar-list li.co-owner.user-kris:after,
ul.avatar-list li.manager.user-kris:after,
ul.avatar-list li.mod.user-kris:after,
ul.avatar-list li.vip.user-kris:after,
ul.avatar-list li.resident-dj.user-kris:after,
ul.avatar-list li.currentDJ .user-kris:after,
.user-kris, .user-kris p.username {
	color: #D7519C !important;
}
#main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.creator.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.manager.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.mod.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.vip.user-kris p.username:after {
	color: #D7519C !important;
}
